.login-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  padding: 20px 0; /* Espacio arriba y abajo, sin espacio lateral que maneja el form */
  background-color: #eef1f5; /* Un fondo muy suave para la página completa */
}

.login-page-header {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.login-page-header h1 {
  font-size: 2em;
  font-weight: 600;
}

/* Asegúrate que el main ocupe el espacio necesario para centrar el formulario */
.login-page-container main {
  width: 100%;
  display: flex;
  justify-content: center;
}